
.dl-header, .dl-header-space {
  height: 100px;
}

.dl-footer, .dl-footer-space {
  height: 50px;
}

.dl-footer {
  position: fixed;
  bottom: 0mm;
  width: 100%;
  /* border-top: 1px solid black; for demo 
  background: yellow;  for demo */
}

.dl-header {
  position: fixed;
  top: 0mm;
  width: 100%;
/*border-bottom: 1px solid black; for demo 
  background: yellow;  for demo */
}

@media print {
   thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
   button {display: none;}
   body {
    margin: 0;
    font-family: 'Lora', serif;
  }
}